@media all and (min-width: 414px) {
    .touch-swap {
        width: 25%;
    }
    .video-box {
        width: 99%;
        padding-bottom: 52%;
    }
}

@media all and (min-width: 485px) {
    .touch-swap {
        width: 20%;
    }
    .video-box {
        width: 90%;
        padding-bottom: 35%;
    }
}

@media all and (min-width: 640px) {
    .touch-swap {
        width: 15%;
    }
    .video-box {
        width: 80%;
        padding-bottom: 35%;
    }
}

@media all and (min-width: 776px) {
    .touch-swap {
        width: 15%;
    }
}

@media all and (min-width: 900px) {
    .touch-swap {
        width: 12%;
    }
}

@media all and (min-width: 1200px) {
    .touch-swap {
        width: 10%;
    }
}

@media all and (min-width: 1400px) {
    .touch-swap {
        width: 6%;
    }
}

@media not all and (min-width: 414px) {
    .touch-swap {
        width: 25%;
    }
    .video-box {
        width: 99%;
        padding-bottom: 52%;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background: #000;
}


/*http://www.heropatterns.com/*/

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #7f0013;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ac9292' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    opacity: 1.0;
}

.video-box {
    position: relative;
    /*width: 80%;*/
    height: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    margin: auto;
    display: block;
    /*padding-bottom: 35%;*/
}

.video-box > .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.touch-swap {
    position: absolute;
    margin: auto;
    display: block;
    /*width: 6%;*/
    bottom: -150px;
    z-index: 100000;
    background: #fff;
    border-radius: 99em;
    padding: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}
